.modal-wraper .modal{
  background: var(--background);

  width: 59rem;
  height: 36.2rem;

  align-items: center;
}

.modal-wraper .modal form {
  align-items: center;
}

.modal-wraper .modal .buttons {
  display: flex;

  min-height: 5rem;
}